*{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}
*::selection{
    color: rgb(76, 249, 114);
    background: rgba(0, 0, 0, 0.481);
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(wpp.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 650px;
}
h1{
    font-size: 2.9em;
}
.navbar{
    position: sticky;
    top: -0.1%;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    animation-name: colorChange, glowNav;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes colorChange{
    0%{background-color: rgb(2, 20, 0)}
    100%{background-color: rgb(137, 156, 72)}
}
@keyframes glowNav{
    0%{box-shadow: 0px 0px 50px rgb(2, 20, 0)}
    100%{box-shadow: 0px 0px 50px rgb(137, 156, 72)}
}
@keyframes glowBox{
    0%{box-shadow: 0px 0px 50px rgb(2, 20, 0)}
    100%{box-shadow: 0px 0px 50px rgb(201, 233, 17)}
}
@keyframes glowBoxAside{
    0%{box-shadow: 0px 0px 50px rgb(2, 0, 20)}
    100%{box-shadow: 0px 0px 50px rgb(201, 17, 233)}
}
@keyframes textColorChange{
    0%{color: rgb(201, 233, 17)}
    100%{color: rgb(252, 255, 236)}
}
@keyframes textGlow{
    0%{text-shadow: 2px 2px 4px rgb(201, 233, 17), -2px -2px 4px rgb(201, 233, 17)}
    100%{text-shadow: 2px 2px 4px rgb(252, 255, 236), -2px -2px 4px rgb(252, 255, 236)}
}
@keyframes textGlowAside{
    0%{text-shadow: 2px 2px 4px rgb(2, 0, 20), -2px -2px 4px rgb(2, 0, 20)}
    100%{text-shadow: 2px 2px 4px rgb(201, 17, 233), -2px -2px 4px rgb(201, 17, 233)}
}
.navbar a{
    height: 100%;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    animation-name: textColorChange, textGlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.navbar a, .dropdown{
    width: 100%;
}
.navbar a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.dropdown{
    position: relative;
}
.dropdown a{
    margin: 0;
    display: block;
    width: auto;
}
.dropdown:hover .content-drop{
    display: block;
}
.content-drop{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(137, 156, 72);
    width: 100%;
    animation-name: colorChange, glowBox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.content-drop a{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 0.8em;
    height: 50px;
    align-items: center;
}
.content-drop a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.corpo{
    display: flex;
    height: 2000px;
}
main{
    flex-grow: 1;
    background: rgba(2, 20, 0, 1);
    padding: 20px;
    max-height: auto;
    overflow-y: auto;
}
.main-content{
    margin: 20px 0 0 0;
    height: auto;
}
.main-content > img{
    margin: 10px;
    border-radius: 25px;
    width: auto;
    height: 200px;
    object-fit: cover;
    animation-name: glowBox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main-galery{
    margin-top: 30px;
    --gap: 8px;
    --num-cols: 4;
    --row-height: 200px;
    
    box-sizing: border-box;
    padding: var(--gap);
    
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}
.main-galery > img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: glowBox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main-galery-col-2{
    grid-column: span 2;
}
.main-galery-col-3{
    grid-column: span 3;
}
.main-galery-col-4{
    grid-column: span 4;
}
.main-galery-row-2{
    grid-row: span 2;
}
aside{
    width: auto;
    max-width: 600px;
    min-width: 100px;
    background: rgb(2, 0, 20, 1);
    padding: 20px;
}
aside > img{
    display: flex;
    border-radius: 20px;
    width: auto;
    height: 200px;
    object-fit: cover;
    animation-name: glowBoxAside;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h1{
    animation-name: textGlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
h2{
    font-size: 1.5em;
}
h3{
    margin-top: 0;
    font-size: 1.1em;
}
main h2, main h3, main a{
    animation-name: textColorChange, textGlow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
aside h2, aside h3, aside a{
    animation-name: textGlowAside;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.right{
    float: right;
}
.left{
    float: left;
}
#acolyte{
    width: 160px;
    height: auto;
    border-radius: 20px;
}
#knight{
    width: 160px;
    height: auto;
}
#ogre{
    width: 160px;
    height: auto;
}
.footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 20);
    animation-name: colorChangeFooter, textColorChangeFooter, textGlowFooter;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes colorChangeFooter{
    0%{background: rgba(2, 0, 20, 0.5)}
    100%{background: rgba(255, 255, 255, 0.5)}
}
@keyframes textColorChangeFooter{
    0%{color: rgb(255, 255, 255)}
    100%{color: rgb(2, 0, 20)}
}
@keyframes textGlowFooter{
    0%{text-shadow: 2px 2px 4px rgb(255, 255, 255), -2px -2px 4px rgb(255, 255, 255)}
    100%{text-shadow: 2px 2px 4px rgb(2, 0, 20), -2px -2px 4px rgb(2, 0, 20)}
}
::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(137, 156, 72, 0.2);
}
::-webkit-scrollbar-thumb{
    width: auto;
    background-color: rgba(201, 233, 17, 0.75);
}

@media only screen and (max-width: 480px) {
    .navbar{
        position: static;
        flex-direction: column;
        height: auto;
    }
    .navbar a{
        display: flex;
        width: 97%;
        text-align: center;
    }
    .dropdown{
        margin: 0;
        padding: 0;
        width: 97%;
        text-align: center;
    }
    .dropdown a{
        width: auto;
    } 
    .content-drop{
        width: 99.%;
        text-align: center;
    }
    .corpo{
        flex-direction: column;
        height: auto;
    }
    main{
        width: auto;
        height: auto;
    }
    .main-content > img{
        width: 100%;
        height: auto;
    }
    aside{
        width: auto;
        height: auto;
    }
    .main-galery{
        --num-cols: 2;
        --row-height: 200px;
    }
    
}